@use './partials/variables' as *;

*,
::before,
::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

//button
button{
    border: 2px solid $main-button-border;
    background-color: $main-button-bg;
    color:white;
    padding: .5rem 1rem;
}